{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{% trans %}The Categories{% endtrans %}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <a href="{{ path('app_add_category') }}" class="btn btn-question">{% trans %}Add Category{% endtrans %}</a>
            </div>
        </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-12">
                    <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                        <div class="q-container p-4">
                            <div class="row">
                                <div class="col">
                                    <a class="q-title" href="{{ path('app_show_category', {id: category.id}) }}"><h2> {% trans %}Category Name{% endtrans%} : {{ category.name }}</h2></a>
                                </div>
                            </div>
                        </div>
                        <a class="answer-link" href="{{ path('app_show_category', {id: category.id}) }}" style="color: #fff;">
                            <p class="q-display-response text-center p-3">
                                <i class="fa fa-magic magic-wand"></i> 6 answers
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

